body {
  color: #660033;

}

header {

}

main {
  padding-top: 2.5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 5%;
}

#loanType {
  float: right;
}

footer {
  clear: both;
  text-align: center;
}

